

 *,
 *::after,
 *::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 
 body {
   position: relative;
   background-color: rgba(187, 180, 180, 0.753);
 }
 h1 {
   text-align: center;
   margin-top: 20px;
   color: aliceblue;
 }

 form {
    
   width: 50%;
   bottom: 500px;
   margin-top:20%;
   margin-right: 20%;
   margin-left: 30%;
   border-radius: 8px;
   /* border: 2px solid rgb(66, 66, 180); */
   color: #000;
   /* box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5); */
 }
 
 .displaycontent{
   font-size: medium;
   display:inline-block;
   margin-left: 1rem;
 }
  
 .inputMargin {
     padding-right: 2rem;     
 }

 .cursor-pointer{
    cursor: pointer;
  }

  
 